.ballon_header { font-size: 16px; margin-top: 0; margin-bottom: 10px; color: #708090; }
		.ballon_body { font-size: 14px; text-align: center; }
		.ballon_footer { font-size: 12px; text-align: right; border-top: 1px solid #7D7D7D; color: #7D7D7D; margin-top: 10px; }
	